<div class="row flex-lg-row align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-5">
          <img src="img/solent_logo.png" width="400" height="212" class="d-block mx-ls-auto img-fluid" Loading="lazy" alt="Uni logo">
    </div>
    <div class="col-12 col-lg-7">
        <h1 class="display-7 fs-15pt fw-bold mb-3"> This is my website for the assement for Advanced Database Systems (COM 519)</h1>
        <p class="lead">
            For this assement I developed a Inventaory Traking app, for the development of this project i used exppress in order to make the style, mixing it whith a litle of css.
            The database i used is MongoDB, a nonreational database where I store the acounts and the information of eatch user.
          </p>
    </div>

    
</div> 