<div class="row flex-lg-row align-items-center g-5 py-4 mb-4">
        <div class="col-12 col-lg-6">
            <img src="img/inventory_traking.png" width="300" height="260" class="d-block mx-ls-auto img-fluid" Loading="lazy" alt="graphics">
        </div>
        <div class="col-12 col-lg-6">
            <h1 class="display-7 fs-15pt fw-bold mb-3"> What is a inventory tracking app?</h1>
            <p class="lead">
                This inventory tracking app is a software tool that assists companies in monitoring and managing their inventory levels. It enables a company to monitor stock levels, track product movements (sales and purchases), and produce inventory status reports.
            </p>
        </div>
        
</div>
        <h1 class="display-7 fs-15pt fw-bold mb-3">What can this app do for you?</h1>
        <p class="lead">
                <ul> inventory updates: Allows businesses to see their current inventory levels in real-time, so they can make informed decisions about reordering products.</ul>
                <ul> Purchase order management: Allows businesses to create, track, and manage purchase orders for products they need to restock.</ul>
                <ul> Sales tracking: Allows businesses to see how many products have been sold, and when they were sold.</ul>
            </p>
            <br>
            <br>
            <div class="row flex-lg-row align-items-center g-5 py-4 mb-4">
                <div class="col-12 col-lg-6">
                    <h1 class="display-7 fs-20pt fw-bold mb-3"> Create an acount now to enjoy all the fetures of this app!!</h1>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/signup" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Create an acount today!</a><br>
                        <a href="/login" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Alredy have an acout? Login now!</a>
                    </div>
                </div>
            </div>
        </div>
