<div class="row flex-lg-row align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="img/make_it_rain.png" width="300" height="260" class="d-block mx-ls-auto img-fluid" Loading="lazy" alt="graphics">
    </div>
    <div class="col-12 col-lg-6">
        <h1 class="display-7 fs-15pt fw-bold mb-3"> THIS APP IS FREEEE!!!!!!!!!!</h1>
        <p class="lead">
            Since this a university project this application is completly free, Create a count now!
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/signup" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Create an acount today!</a><br>
            <a href="/login" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Alredy have an acout? Login now!</a>
        </div>
    </div>
</div>